<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{parts/link :: link}"></div>
    <title th:text="#{label.user.title}"></title>
</head>
<body>
<div th:replace="~{parts/nav :: navigation}"></div>

<div th:replace="~{parts/nav :: section('label.user.title')}"></div>

<section class="user_account__section container mt-5">
    <div class="user_account__wrap d-flex flex-row">
        <div class="nav flex-column nav-pills col-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link my_nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"
               role="tab" aria-controls="v-pills-home" aria-selected="true"
               th:text="#{label.user.cabinet}">
            </a>
            <a class="nav-link my_nav-link " id="v-pills-prOfile-tab" data-toggle="pill" href="#v-pills-prOfile"
               role="tab" aria-controls="v-pills-prOfile" aria-selected="false"
               th:text="#{label.user.uncheck}">
            </a>
            <a class="nav-link my_nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages"
               role="tab" aria-controls="v-pills-messages" aria-selected="false"
               th:text="#{label.user.paid}">
            </a>
        </div>

        <div class="tab-content col-9" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <div class="user_cabinet Offset-1">
                    <ul class="user_cabinet__list d-flex flex-column">
                        <li class="user_cabinet__list-item d-flex flex-row align-items-baseline">
                            <h6 class="user_cabinet__title" th:text="${user.firstName}"></h6><i
                                class="user_cabinet__edit fas fa-edit" id="editname"></i>
                            <form class="form-group slide" action="" method="post" id="slidename">
                                <input class="form-control" type="text" placeholder="First Name">
                            </form>
                        </li>
                        <li class="user_cabinet__list-item d-flex flex-row align-items-baseline">
                            <h6 class="user_cabinet__title" th:text="${user.lastName}"></h6><i
                                class="user_cabinet__edit fas fa-edit" id="editsurname"></i>
                            <form class="form-group" action="" method="post" id="slidesurname">
                                <input class="form-control" type="text" placeholder="Last Name">
                            </form>
                        </li>
                        <li class="user_cabinet__list-item d-flex flex-row align-items-baseline">
                            <h6 class="user_cabinet__title" th:text="${user.email}"></h6><i
                                class="user_cabinet__edit fas fa-edit" id="editemail"></i>
                            <form class="form-group" action="" method="post" id="slideemail">
                                <input class="form-control" type="email" placeholder="Email">
                            </form>
                        </li>
                        <li class="user_cabinet__list-item d-flex flex-row align-items-baseline">
                            <h6 class="user_cabinet__title" th:text="${user.phone}"></h6><i
                                class="user_cabinet__edit fas fa-edit" id="editphone"></i>
                            <form class="form-group" action="" method="post" id="slidephone">
                                <input class="form-control" type="phone" placeholder="Phone">
                            </form>
                        </li>
                        <li class="user_cabinet__list-item d-flex flex-row align-items-baseline">
                            <h6 class="user_cabinet__title">********</h6><i class="user_cabinet__edit fas fa-edit"
                                                                            id="editpassword"></i>
                            <form class="form-group d-flex flex-row user_account__form" action="" method="post">
                                <div id="slidepassword">
                                    <input class="form-control mr-4" type="password" placeholder="Password">
                                    <input class="form-control" type="password" placeholder="Confirm Password">
                                </div>
                            </form>
                        </li>
                    </ul>
                    <form th:action="@{/logout}">
                        <button type="submit" class="logout btn" th:text="#{label.btn.logout}">
                        </button>
                    </form>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-prOfile" role="tabpanel" aria-labelledby="v-pills-prOfile-tab">
                <ul class="d-flex flex-column">
                    <th:block th:each="uncheck : ${uncheckedOrders}">
                        <li class="order_item d-flex flex-row justify-content-between align-items-center">
                            <p th:text="${uncheck.date}"></p>
                            <p th:text="${uncheck.bill}"></p>
                            <p th:text="${uncheck.address}"></p>
                            <p th:text="${uncheck.user.firstName}"></p>
                            <p th:text="${uncheck.user.phone}"></p>
                            <form th:action="@{/order/confirm/__${uncheck.id}__}"
                                  th:method="post">
                                <input class="btn menu_btn" type="submit" th:value="#{label.btn.confirm}"/>
                                <input type="hidden" name="_method" value="put">
                            </form>
                        </li>
                    </th:block>
                </ul>
                <!--                <nav aria-label="Navigation for UnCheck orders">-->
                <!--                    <ul class="pagination">-->
                <!--                        <c:if test="${requestScope.currentUnCheckPage != 1}">-->
                <!--                            <li class="page-item">-->
                <!--                                <a class="page-link"-->
                <!--                                   href="${pageContext.request.contextPath}/tasty-restaurant/adminAccount?currentUnCheckPage=${requestScope.currentUnCheckPage-1}">Previous</a>-->
                <!--                            </li>-->
                <!--                        </c:if>-->

                <!--                        <c:forEach begin="1" end="${requestScope.numberOfUnCheckPages}" var="i">-->
                <!--                            <c:choose>-->
                <!--                                <c:when test="${requestScope.currentUnCheckPage eq i}">-->
                <!--                                    <li class="page-item active">-->
                <!--                                        <a class="page-link">${i} <span class="sr-only">(current)</span></a>-->
                <!--                                    </li>-->
                <!--                                </c:when>-->
                <!--                                <c:otherwise>-->
                <!--                                    <li class="page-item">-->
                <!--                                        <a class="page-link"-->
                <!--                                           href="${pageContext.request.contextPath}/tasty-restaurant/adminAccount?currentUnCheckPage=${i}">${i}</a>-->
                <!--                                    </li>-->
                <!--                                </c:otherwise>-->
                <!--                            </c:choose>-->
                <!--                        </c:forEach>-->

                <!--                        <c:if test="${requestScope.currentUnCheckPage lt requestScope.numberOfUnCheckPages}">-->
                <!--                            <li class="page-item">-->
                <!--                                <a class="page-link"-->
                <!--                                   href="${pageContext.request.contextPath}/tasty-restaurant/adminAccount?currentUnCheckPage=${requestScope.currentUnCheckPage+1}">Next</a>-->
                <!--                            </li>-->
                <!--                        </c:if>-->
                <!--                    </ul>-->
                <!--                </nav>-->
            </div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                <ul class="d-flex flex-column">
                    <th:block th:each="paid : ${paidOrders}">
                        <li class="order_item d-flex flex-row justify-content-between align-items-center">
                            <p th:text="${paid.date}"></p>
                            <p th:text="${paid.bill}"></p>
                            <p th:text="${paid.address}"></p>
                            <p th:text="${paid.user.firstName}"></p>
                            <p th:text="${paid.user.phone}"></p>
                        </li>
                    </th:block>
                </ul>
                <!--                <nav aria-label="Navigation for Paid orders">-->
                <!--                    <input type="hidden" name="currentPage" value="1">-->
                <!--                    <ul class="pagination">-->
                <!--                        <c:if test="${requestScope.currentPaidPage != 1}">-->
                <!--                            <li class="page-item">-->
                <!--                                <a class="page-link"-->
                <!--                                   href="${pageContext.request.contextPath}/tasty-restaurant/adminAccount?currentPage=${requestScope.currentPaidPage-1}">Previous</a>-->
                <!--                            </li>-->
                <!--                        </c:if>-->

                <!--                        <c:forEach begin="1" end="${requestScope.numberOfPaidPages}" var="i">-->
                <!--                            <c:choose>-->
                <!--                                <c:when test="${requestScope.currentPaidPage eq i}">-->
                <!--                                    <li class="page-item active">-->
                <!--                                        <a class="page-link">${i} <span class="sr-only">(current)</span></a>-->
                <!--                                    </li>-->
                <!--                                </c:when>-->
                <!--                                <c:otherwise>-->
                <!--                                    <li class="page-item">-->
                <!--                                        <a class="page-link"-->
                <!--                                           href="${pageContext.request.contextPath}/tasty-restaurant/adminAccount?currentPaidPage=${i}">${i}</a>-->
                <!--                                    </li>-->
                <!--                                </c:otherwise>-->
                <!--                            </c:choose>-->
                <!--                        </c:forEach>-->

                <!--                        <c:if test="${requestScope.currentPaidPage lt requestScope.numberOfPaidPages}">-->
                <!--                            <li class="page-item">-->
                <!--                                <a class="page-link"-->
                <!--                                   href="${pageContext.request.contextPath}/tasty-restaurant/adminAccount?currentPaidPage=${requestScope.currentPaidPage +1 }">Next</a>-->
                <!--                            </li>-->
                <!--                        </c:if>-->
                <!--                    </ul>-->
                <!--                </nav>-->
                </ul>
            </div>
        </div>
    </div>
</section>

<div th:replace="~{parts/footer :: footer}"></div>
</body>
</html>