<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{parts/link :: link}"></div>
    <title th:text="#{label.home.title}"></title>
</head>
<body>
<div th:replace="~{parts/nav :: navigation}"></div>

<section class="home-slider owl-carousel">
        <div class="slider-item" style="background-image: url('../images/bg_1.jpg');">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text align-items-center justify-content-center text-center">
                    <div class="col-md-10 col-sm-12 ftco-animate">
                        <h1 class="mb-3" th:text="#{label.home.slide1}"></h1>
                        <p><a href="/registration"
                              class="btn btn-primary btn-outline-white px-5 py-3"
                              th:text="#{label.registration.title}"></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    <div class="slider-item" style="background-image: url('../images/bg_2.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text align-items-center justify-content-center text-center">
                <div class="col-md-10 col-sm-12 ftco-animate">
                    <h1 class="mb-3" th:text="#{label.home.slide2}"></h1>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-item" style="background-image: url('../images/bg_3.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text align-items-center justify-content-center text-center">
                <div class="col-md-10 col-sm-12 ftco-animate">
                    <h1 class="mb-3" th:text="#{label.home.slide3}"></h1></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END slider -->

<section class="ftco-section-2">
    <div class="container d-flex">
        <div class="section-2-blocks-wrapper row">
            <div class="img col-sm-12 col-lg-6"
                 style="background-image: url('../images/about-2.jpg');">
            </div>
            <div class="text col-lg-6 ftco-animate">
                <div class="text-inner align-self-start">
                    <span class="subheading" th:text="#{label.home.about.title}"></span>
                    <h3 class="heading" th:text="#{label.home.about.heading}"></span></h3>
                    <p th:text="#{label.home.about.content1}"></p>
                    <p th:text="#{label.home.about.content2}"></p>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="~{parts/footer :: footer}"></div>
</body>
</html>

