<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{parts/link :: link}"></div>
    <title th:text="#{label.login.title}"></title>
</head>
<body>
<div th:replace="~{parts/nav :: navigation}"></div>
<div th:replace="~{parts/nav :: section('label.login.title')}"></div>

<div class="login_wrapper">
    <div class="login">
        <form th:action="@{/login}" method="post">
            <p><span class="fontawesome-user"></span>
                <input type="email" placeholder="Email" name="username" required></p>
            <p><span class="fontawesome-lock"></span>
                <input type="password" placeholder="Password" name="password" required></p>
            <p><input type="submit" th:value="#{label.btn.enter}"/></p>
        </form>
        <!--        <c:if test="${param.userExist==false}">-->
        <!--            <h3>There is no such user</h3>-->
        <!--        </c:if>-->
        <p/>
        <th:block th:text="#{label.login.without_account}"></th:block>
        &nbsp;&nbsp;
        &nbsp;&nbsp;<a th:href="@{/registration}"/>
        <th:block  th:text="#{label.registration}"/>
        </a>
        <span class="fontawesome-arrow-right"></span>
        </p>
    </div>
</div>
<div th:replace="~{parts/footer :: footer}"></div>
</body>
</html>
