<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{parts/link :: link}"></div>
    <title th:text="#{label.registration.title}"></title>
</head>
<body>
<div th:replace="~{parts/nav :: navigation}"></div>
<div th:replace="~{parts/nav :: section('label.registration.title')}"></div>

<section class="ftco-section">
    <div class="container">
        <div class="row no-gutters justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <h2>
                    <!--                    <fmt:message key="label.registration.title"/>-->
                </h2>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col-md-4 ftco-animate img"
                 style="background-image: url(../images/bg_1.jpg);"></div>
            <div class="col-md-8 ftco-animate makereservation p-5 bg-light">
                <form th:action="@{/registration}" method="post" th:object="${user}">

                    <p class="icon-error text-danger" th:each="error : ${#fields.errors('lastName')}"
                       th:text="${error}"></p>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">First Name</label>
                                <input type="text" class="form-control" placeholder="First Name" name="firstName"
                                       th:value="${user.firstName}">
                                <p class="icon-error text-danger" th:each="error : ${#fields.errors('firstName')}"
                                   th:text="${error}"></p>
                            </div>
                        </div>


                        <div class="col-md-6">

                            <div class="form-group">
                                <label for="">Last Name</label>
                                <input type="text" class="form-control" placeholder="Last Name" name="lastName"
                                       th:value="${user.lastName}">
                                <p class="icon-error text-danger" th:each="error : ${#fields.errors('lastName')}"
                                   th:text="${error}"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Email</label>
                                <input type="email" class="form-control" placeholder="Email" name="email"
                                       th:value="${user.email}">
                                <p class="icon-error text-danger" th:each="error : ${#fields.errors('email')}"
                                   th:text="${error}"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Phone</label>
                                <input type="text" class="form-control" placeholder="Phone" name="phone"
                                       th:value="${user.phone}">
                                <p class="icon-error text-danger" th:each="error : ${#fields.errors('phone')}"
                                   th:text="${error}"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Enter Password</label>
                                <input type="password" class="form-control" placeholder="Password" name="password">
                                <p class="icon-error text-danger" th:each="error : ${#fields.errors('password')}"
                                   th:text="${error}"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Confirm Password</label>
                                <input type="password" class="form-control" placeholder="Confirm Password"
                                       name="confirmPassword">
                                <p class="icon-error text-danger" th:each="error : ${#fields.errors('confirmPassword')}"
                                   th:text="${error}"></p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="form-group">
                            <input type="submit" th:value="#{label.btn.confirm}"
                                   class="btn btn-primary py-3 px-5">
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

</section>

<div th:replace="~{parts/footer :: footer}"></div>
</body>
</html>

