<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div th:fragment="navigation">
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" th:href="@{/home}">Tasty</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                    aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a th:href="@{/home}"
                           class="nav-link" th:text="#{label.home.title}"/>
                        </a></li>
                    <li class="nav-item">
                        <a th:href="@{/menu}"
                           class="nav-link" th:text="#{label.menu.title}"/>
                        </a></li>
                    <li class="nav-item">
                        <a th:href="@{/about}"
                           class="nav-link" th:text="#{label.about.title}"/>
                        </a>
                    </li>

                    <li class="nav-item" id="user" sec:authorize="!isFullyAuthenticated()">
                        <a class="nav-link">
                            <svg class="nav-svg ">
                                <use x="0" y="0" href="../images/user.svg#user"></use>
                            </svg>
                        </a>
                    </li>

                    <li class="nav-item" sec:authorize="isFullyAuthenticated()">
                        <a th:href="@{/user}" class="nav-link">

                            <svg class="nav-svg ">
                                <use x="0" y="0" href="../images/user.svg#user"></use>
                            </svg>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a th:href="@{/user/basket}"
                           class="nav-link">
                            <svg class="nav-svg">
                                <use x="0" y="0"
                                     href="../images/shopping-cart.svg#cart"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link dropdown">
                            <div class="dropbtn">UA</div>
                            <div class="dropdown-content">
                                <a href="?language=ua">UA</a>
                                <a href="?language=en">EN</a>
                            </div>
                        </div>
                </ul>
            </div>
        </div>
    </nav>

</div>

<div th:fragment="section(page)">
    <section class="home-slider owl-carousel">
        <div class="slider-item" style="background-image: url(../images/bg_1.jpg);" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text align-items-center justify-content-center">
                    <div class="col-md-10 col-sm-12 ftco-animate text-center">
                        <p class="breadcrumbs"><span class="mr-2">
                                <a href="/home" th:text="#{label.home.title}">

                                </a>
                            </span>
                            <span th:text="#{${page}}"></span></p>
                        <h1 class="mb-3" th:text="#{${page}}"></h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>
