<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{parts/link :: link}"></div>
    <title th:text="#{label.user.title}"></title>
</head>
<body>
<div th:replace="~{parts/nav :: navigation}"></div>

<div th:replace="~{parts/nav :: section('label.user.title')}"></div>

<h5 class="text-center mt-5 account_title" th:text="#{label.user.heading}"/></h5>

<section class="user_account__section container mt-5">
    <div class="user_account__wrap d-flex flex-row">
        <div class="nav flex-column nav-pills col-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link my_nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"
               role="tab" aria-controls="v-pills-home" aria-selected="true"
               th:text="#{label.user.cabinet}">
            </a>
            <a class="nav-link my_nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile"
               role="tab" aria-controls="v-pills-profile" aria-selected="false"
               th:text="#{label.user.unpaid}">
            </a>
        </div>

        <div class="tab-content col-9" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <div class="user_cabinet offset-1">
                    <ul class="user_cabinet__list d-flex flex-column">

                            <form class="form-group" th:action="@{/user/__${user.id}__}" method="post"
                                  th:object="${updateUser}">
                                <input type="hidden" name="_method" value="put">
                                <li class="user_cabinet__list-item d-flex flex-row align-items-baseline">
                                    <h6 class="user_cabinet__title" th:text="${user.firstName}"></h6>
                                    <i class="user_cabinet__edit fas fa-edit" id="editname"></i>

                                    <div class="slide" id="slidename">
                                        <input class="form-control" type="text" placeholder="First Name"
                                               name="firstName"
                                               th:value="${user.firstName}">
                                    </div>

                                    <p class="icon-error text-danger" th:each="error : ${#fields.errors('firstName')}"
                                       th:text="${error}"></p>
                                </li>
                                <li class="user_cabinet__list-item d-flex flex-row align-items-baseline">
                                    <h6 class="user_cabinet__title" th:text="${user.lastName}"></h6>
                                    <i class="user_cabinet__edit fas fa-edit" id="editsurname"></i>


                                    <div class="slide" id="slidesurname">
                                        <input class="form-control" type="text" name="lastName" placeholder="Last Name"
                                               th:value="${user.lastName}">
                                    </div>
                                    <p class="icon-error text-danger" th:each="error : ${#fields.errors('lastName')}"
                                       th:text="${error}"></p>
                                </li>
                                <li class="user_cabinet__list-item d-flex flex-row align-items-baseline">
                                    <h6 class="user_cabinet__title" th:text="${user.email}"></h6><i
                                        class="user_cabinet__edit fas fa-edit" id="editemail"></i>


                                    <div class="slide" id="slideemail">
                                        <input id="slide" class="form-control" type="email" name="email"
                                               placeholder="Email"
                                               th:value="${user.email}">
                                    </div>
                                    <p class="icon-error text-danger" th:each="error : ${#fields.errors('email')}"
                                       th:text="${error}"></p>
                                </li>
                                <li class="user_cabinet__list-item d-flex flex-row align-items-baseline">
                                    <h6 class="user_cabinet__title" th:text="${user.phone}"></h6><i
                                        class="user_cabinet__edit fas fa-edit" id="editphone"></i>


                                    <div class="slide" id="slidephone">
                                        <input Class="form-control" type="text" name="phone" placeholder="Phone"
                                               th:value="${user.phone}">
                                    </div>
                                    <p class="icon-error text-danger" th:each="error : ${#fields.errors('phone')}"
                                       th:text="${error}"></p>
                                </li>
                                <p class="icon-error text-danger" th:each="error : ${#fields.errors('password')}"
                                   th:text="${error}"></p>
                                <p class="icon-error text-danger" th:each="error : ${#fields.errors('confirmPassword')}"
                                   th:text="${error}"></p>
                                <li class="user_cabinet__list-item d-flex flex-row align-items-baseline">
                                    <h6 class="user_cabinet__title">********</h6>
                                    <i class="user_cabinet__edit fas fa-edit" id="editpassword"></i>
                                    <div class="form-group d-flex flex-row user_account__form">
                                        <div id="slidepassword">
                                            <input class="form-control mr-4" type="password" name="password"
                                                   placeholder="Password">
                                            <input class="form-control" type="password" name="confirmPassword"
                                                   placeholder="Confirm Password">
                                        </div>
                                    </div>
                                </li>
                                <input class="btn menu_btn" type="submit" th:value="#{label.btn.enter}"/>
                        </form>
                    </ul>
                    <form th:action="@{/logout}">
                        <button type="submit" class="logout btn" th:text="#{label.btn.logout}">
                        </button>
                    </form>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <ul class="d-flex flex-column">
                    <th:block th:each="unpaid : ${unpaidOrders}">
                        <li class="order_item d-flex flex-row justify-content-between align-items-center">
                            <p th:text="${unpaid.date}"></p>
                            <p th:text="${unpaid.bill}"></p>
                            <p th:text="${unpaid.address}"></p>
                            <p th:text="${unpaid.user.firstName}"></p>
                            <p th:text="${unpaid.user.phone}"></p>
                            <form th:action="@{/order/pay/__${unpaid.id}__}" th:method="post">
                                <input class="btn menu_btn" type="submit" th:value="#{label.btn.pay}">
                                <input type="hidden" name="_method" value="put">
                            </form>
                        </li>
                    </th:block>
                </ul>
            </div>
        </div>
    </div>
</section>

<div th:replace="~{parts/footer :: footer}"></div>
</body>
</html>